body {
    background-image: url("https://media.istockphoto.com/photos/blue-sea-water-background-atlantic-picture-id1136870172?k=20&m=1136870172&s=612x612&w=0&h=RqoBWSJgLFOmakzfjD0Tm0yZiQVqiDiDunZyo-1vB1w=");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fish-pics {
    width: 40%;
    height: 40%;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.travel-pics {
    width: 40%;
    height: 40%;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

h1 {
    text-align: center;
    font-size: 70px;
    border: black solid 8px;
    margin: 5px;
    height: 100px;
    background-color: rgba(118, 208, 224, 0.664);
}
h2 {
    text-align: center;
    border: black solid 5px;
    margin: 5px;
    background-color: rgba(240, 230, 140, 0.685);
    padding: 8px;
    font-size: 20px;
}

.column {
    border: black solid 8px;
    margin: 10px;
    width: 30%;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(137, 192, 123, 0.7);
}

.fish-list {
    margin: 5px;
    height: auto;
    display: flex;
    text-align: center;
}

p {
    text-align: center;
    margin: 0%;
}

ul {
    margin: 5px;
    width: 75%;
    padding-bottom: 50px;
}
.aquarium {
    display: flex;
}